spring:
  application:
    name: ai-agent
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.hz.aiagent.controller
knife4j:
  enable: true
  setting:
    language: zh_cn
server:
  port: 8082
  servlet:
    context-path: /api